* {
  margin: 0;
  font-family: "Sansita Swashed", cursive;
}

body {
  font: 15px/1.5;
  padding: 0;
  background-color: #fcf7ee;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #505050;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 3px solid #ffa10f;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  float: left;
  display: inline;
  padding: 0px 20px 0px 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}

header #brend {
  float: left;
}

header #brend h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .trenutna a {
  color: #ffa10f;
  font-weight: bold;
}

header a:hover {
  color: #ffa10f;
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

#showcase {
  min-height: 600px;
  background: url("img/showcase2.jpg") no-repeat 0 -800px;
  text-align: center;
  color: white;
  box-shadow: inset 0 0 0 2000px rgba(5, 5, 5, 0.561);
}

#showcase .container {
  margin-top: 180px;
  font-size: 45px;
  color: #ffa10f;
}

#showcase p {
  font-size: 25px;
}

#showcase .main-button {
  margin-top: 20px;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  background-color: wheat;
  border: none;
  border-radius: 3.5px;
}

#showcase .main-button:hover {
  transition: 0.5s ease-in;
  background-color: #ffa10f;
}

.opis {
  color: white;
  border-top: 3px solid #ffa10f;
  text-align: center;
  background-color: #8d8d8d;
}

.opis2 {
  animation: loadcontent 800ms;
  margin-top: 100px;
}

.opis2 h1 {
  font-size: 26px;
  text-align: center;
}

.opis2 form {
  font-size: 18px;
  text-align: center;
}

.opis2 #inp {
  width: 40%;
  padding: 15px;
  border: none;
}

.opis2 #btn {
  font-size: 18px;
  width: 42%;
  background-color: wheat;
  border: none;
  padding: 10px;
}

.opis2 #btn:hover {
  width: 42%;
  transition: 0.5s ease-in;
  cursor: pointer;
  background-color: #ffa10f;
}

.opis2 p {
  font-size: 18px;
  text-align: center;
}

.opis h1 {
  margin-top: 20px;
  font-size: 35px;
}

.opis p {
  font-size: 18px;
}

.container-opis {
  margin-top: 30px;
  display: flex;

  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 400px;
}

.container-opis .naslov_i_paragraf {
  margin: 5px;
}

.naslov_i_paragraf .main-button {
  margin-top: 20px;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  background-color: wheat;
  border: none;
  border-radius: 3.5px;
}

.naslov_i_paragraf .main-button:hover {
  transition: 0.5s ease-in;
  background-color: #ffa10f;
}

.container-opis h4 {
  font-size: 22px;
}

.container-opis i {
  font-size: 60px;
}

#newsletter {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  min-height: 90px;
}

#newsletter .news1 input,
button {
  padding: 8px;
}

#newsletter .news1 button {
  background-color: wheat;
  border: 1.5px solid wheat;
  cursor: pointer;
}

#newsletter .news1 button:hover {
  background-color: #ffa10f;
  border: 1.5px solid #ffa10f;
  cursor: pointer;
  transition: 0.5s ease-in;
}

#newsletter .news1 input {
  border: 1.5px solid #fff;
}

#main-footer {
  border-top: 3px solid #ffa10f;
  color: white;
  font-size: 18px;
  display: flex;
  background-color: #505050;
  min-height: 90px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#main-footer .socials {
  font-size: 22px;
  margin-left: 10px;
}

#htmlicon {
  color: rgb(255, 142, 97);
}

#cssicon {
  color: rgb(37, 114, 238);
}

#jsicon {
  color: rgb(238, 225, 37);
}

@media (max-width: 360px) {
  header .container #brend h1,
  header .container #brend .highlight {
    margin-left: 25px;
  }

  #showcase {
    margin-top: 70px;
  }

  .container ul {
    display: flex;
    flex-direction: column;
  }

  .container nav ul li a {
    margin-right: 80px;
    line-height: 35px;
  }

  .opis2 {
    margin-top: 200px;
  }

  .opis2 #btn {
    width: 49%;
  }

  .container-opis {
    flex-direction: column;
  }

  #newsletter {
    flex-direction: column;
  }

  #newsletter form .button_1 {
    width: 40.5%;
  }

  .socials {
    position: absolute;
    margin-top: 60px;
  }
}

@keyframes loadcontent {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}
